pytest
nbconvert
jsonschema==3.2.0  # https://github.com/jupyter/nbformat/issues/232
Jinja2<3.0.0  # https://github.com/jupyter/nbconvert/issues/1568
MarkupSafe<2.1.0  # https://github.com/aws/aws-sam-cli/issues/3661
Pillow<9.1.0  # https://github.com/python-pillow/Pillow/blob/0606f02860d0c4449bc047a6187043b6188a7404/docs/releasenotes/9.1.0.rst#deprecations

PySDM @ git+https://github.com/atmos-cloud-sim-uj/PySDM@81b3b43#egg=PySDM
PyMPDATA @ git+https://github.com/atmos-cloud-sim-uj/PyMPDATA@27ba612#egg=PyMPDATA
